* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: "Poppins", Roboto;
    font-weight: 400;
    outline: none;
}
button{
    cursor: pointer;
}
.span {
    background: linear-gradient(135deg, dodgerblue, rgb(0, 0, 0));
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 600;
    font-size: 50px;
}

body {
    background-color: rgb(235, 232, 232);
    color: rgb(0, 0, 0);
    padding: 0;
}

main{
    width: 100%;
    height: max-content;
}

#new-image {
    background-color: rgb(255, 255, 255);
    z-index: 999;
    height: 100vh;
}

#header {
    display: flex;
    justify-content: space-around;
    column-gap:100px;
    align-items: center;
    width: 100%;
    z-index: 999;
    color: black;
    position: fixed;
    top:5px;
    left: 50%;
    background-color:rgba(0, 0, 0, 0.381);
    color: rgb(255, 255, 255);
    width: max-content;
    transform: translateX(-50%);
    padding:5px 70px;
    border-radius: 100px;
    background-color:rgba(255, 255, 255, 0.9);
    box-shadow:  0 0 3px rgba(0, 0, 0, 0.326);
}
#blur{
    background-color:rgba(255, 255, 255, 0.687);
    width: 100%;
    height:100%;
    position: absolute;
    border-radius: 100px;
    z-index:-10;
    filter: blur(5px);
}

.logo {
    font-weight: 30px;
    font-weight: bold;
}

.nav nav ul li {
    list-style: none;
    display: inline-block;
    padding: 5px 20px;
    font-size: 15px;
    color: black;
}

.btn-login-container button {
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    font-size: 15px;
}

.btn-login-container button:nth-child(2) {
    background-color: dodgerblue;
    color: rgb(255, 255, 255);

}

#content {
    width: 100%;
    height: 90vh;
    display: grid;
    place-items:center;
 
}

#content-text {
    width: 90%;
    text-align: center;
}

#content-text span {
    font-size: 15px;
}

#content-text h1 {
    font-size: 70px;
    font-weight: 600;
    margin: 20px 0px;
    color: rgb(0, 0, 0);
}

#content-text p {
    width: 100%;
    line-height: 30px;
    font-size: 16px;
    margin-bottom: 40px;
}

#content-text button {
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: dodgerblue;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
@media(max-width:500px){
  
    #header{
        display: none;
    }

#content{
display: grid;
place-items: center;  
height:50vh;
}
#content h1{
    font-size:20px;
    width:300px;
    margin:0px auto;
    margin-bottom: 10px;
}

#content-text p {
    width:300px;
    margin: 0px auto;
    line-height: 30px;
    font-size: 11px;
    margin-bottom: 20px;
}

#content-text button {
   font-size:13px;
   padding: 10px 20px;
}
}

#in-video {
    width:100%;
    margin: 0px auto;
    height: max-content;
    margin-bottom: 70px;
    text-align: center;
}

#in-video video {
    width: 90%;
    border-radius: 5px;
}

@media(max-width:500px){
    #in-video video {
        width: 100%;
        border-radius: 5px;
    }
    #in-video {
        margin-bottom: 20px;
    }
}

#pride {
    width: 90%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
    margin-bottom: 100px;
}
#pride-cont{

    width:max-content;
    text-align: center;
}
#pride-cont h3{
    font-size:25px;
    font-weight: 600;
}

@media(max-width:500px){
    #pride {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        column-gap: 20px;
        row-gap: 20px;
        margin-bottom: 50px;
    }

    #pride-cont{

        width:max-content;
        text-align: center;
    }

    #pride-cont h3{
        font-size:21px;
        font-weight: 600;
    }

    .pridediv1{
        font-size: 11px;
    }
    
    .pridediv2 img{
        width: 80px;
    }   

.img{
    width: 50px;
}
   
}
#video {
    width: 90%;
    margin: 0px auto;

}

.vid-cont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px
}

#video img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

#video video {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.vid-content-cont {
    display: grid;
    place-items: center;
}

.vid-content {}

.vid-content h3 {
    font-size: 45px;
    font-weight: 600;
    margin:30px 0px;
    color: rgb(0, 0, 0);
}

.vid-content p {
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 30px;
}

.vid-content button {
    padding: 5px 20px;
    border-radius: 5px;
    border: none;
    background-color: dodgerblue;
    color: rgb(255, 255, 255);
}

@media(max-width:500px){
    .vid-content h3 {
        font-size: 20px;
        text-align: center;
        margin-top: 10px;
    }

    .vid-cont {
        display: flex;
        flex-direction: column-reverse;
    }

    .vid-content p {
        font-size: 13px;
        line-height: 30px;
        margin-bottom: 30px;
    }

    .vid-content button {
        padding: 5px 10px;
        font-size: 11px;
        margin:0px auto;
    }
    
    #loremipsum{
        font-size: 11px;
    
    }
#vid-content-cont2{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
}

#sponsor {
    margin-top: 70px;
}

.btnSponCont{
    width: max-content;
    margin: 0px auto;
    margin-top: 20px;
}
.btnSponCont button{
padding: 10px 20px;
font-size: 20px;   
}

.images {
    overflow-x: scroll;
    overflow-y: hidden;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    margin: 70px 0px 50px;
    scrollbar-width: none;
    padding-left: 150px;
}

#sponsor .images>div {
    width:100%;
    height: 400px;
    display: inline-block;
}

#sponsor .images>div img {
    width: 500px;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    border-radius: 10px;
}
@media(max-width:500px){
    .images{
        width:100%;
        padding-left:0px;
        column-gap: 5px;
        padding-left: 20px;
    }
    
    #sponsor .images>div {
        height: 400px;
        display: inline-block;
    }
    #sponsor .images>div img {
        border-radius: 10px;
    }

    .btnSponCont button{
        padding: 5px 10px;
        font-size: 15px;   
        }
    
}
#price {
    width: 90%;
    height: max-content;
    margin: 0px auto;
    margin: 100px auto;

}

.price {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    margin-top: 70px;
}


#price .price-top {
    padding: 30px 10px 50px 30px;
}

#price .Priceuncont {
    width: 400px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.342);
    padding: 30px 0px 0px;
    border-radius: 20px;
    background-color:rgba(235, 235, 235, 0.203);
    border:none;
}



#price .Priceuncont h3 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

#price .Priceuncont .grey {
    color: grey;
}

#price .Priceuncont button {
    padding: 10px 60px;
    border-radius: 30px;
    border: none;
    background-color: black;
    color: white;
}

.price-grid {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    margin-bottom: 20px;
}

.price-grid>span {
    font-size: 13px;
}

#price .price-bottom {
    background-color: rgba(128, 128, 128, 0.356);
    padding: 30px 10px 30px 30px;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
@media(max-width:500px){

    .price {
        flex-direction: column;
        column-gap: 0px;
        row-gap:30px;
        width: 100%;
        margin-top: 20px;
    }

    #price .Priceuncont {
        width:inherit;
    }

    #price .Priceuncont h3 {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 20px;
        font-weight: 500;
    }
    
    #price .Priceuncont .grey {
        color: grey;
        font-size: 15px;
    }

    #price .Priceuncont button {
        padding: 10px 30px;
        border-radius: 30px;
        border: none;
        background-color: black;
        color: white;
        font-size: 15px;
    }

    .h2{
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 30px;
    }
    .header-sub p{
        font-size: 13px;
        font-weight: 400;
        
    }
    
   
}

#comment {
    width: 95%;
    margin: 0px auto;
    background-color: rgba(192, 192, 192, 0.447);
    color: rgb(0, 0, 0);
    padding: 30px;
    border-radius: 10px;

}

#comment .comment-div {
    display: flex;
}


#comment #scroll-display {
    display: grid;
    place-items: center;
    width: 50%;
    padding-left: 10px;
}

#comment #scroll-container {
    width: 50%;
    position: relative;
}

#left{
    position: absolute;
    top:50%;
    transform: translateX(-50%);
    padding: 10px 50px;
    border: none ;
    border-radius: 30px;
    left: 0;
    background-color: black;
    color:white;
    cursor: pointer;z-index: 99;
}

#right{
    position: absolute;
    top:50%;
    transform: translateX(-50%);
    padding: 10px 50px;
    border: none ;
    border-radius: 30px;
    right:-100px;
    color:rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    box-shadow:0 0 3px rgba(0, 0, 0, 0.42)}

#comment .comment-div h3 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}

#comment2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 20px;
    overflow-x: scroll;
    scrollbar-width: none;
    padding: 20px;
    border-radius: 20px;
}

#comment2>.divScroll {
    width:450px;
    height: 550px;
    padding: 20px;
    border-radius: 30px;
    background-color: white;
    position: relative;
}

#comment .comment-div li {
    list-style: none;
    padding: 20px 20px;
    margin-bottom: 20px;
    background-color: rgba(128, 128, 128, 0.416);
    border: solid dodgerblue;
}

.comm22 {
    display: grid;
    text-align: center;
    width: 100%;
}

.comm22 img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#content-star {

}

#content-star p {
    font-size: 40px;
    line-height: 50px;
    margin-top: 20px;
}
@media(max-width:500px){

    #comment {
        width: 100%;
    
    }
    .span{
        font-size: 25px;
    }
    #comment .comment-div h3 {
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 20px;
        text-align: center;
    }

    #comment .comment-div p{
        font-size:13px;
        line-height: 20px;
    }

    .comment-div {
    flex-direction: column;
    }
    
    #left{
        display:none;
    }
    #right{
        display:none;
    }

    #comment2>.divScroll {
        width:350px;
    }

    #comment #scroll-display {
        display: grid;
        place-items: center;
        width: 100%;
        padding-left: 10px;
    }

    #comment #scroll-container {
        width:100%;
        position: relative;
    }

    #comment2>.divScroll {
        width:400px;
        height: 400px;
        padding: 20px;
        border-radius:10px;
        background-color: white;
        position: relative;
    }
    
   
}
.imagecomm {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translatex(-50%);
}

#footer {
    width: 100%;
    height: 900px;
    background-color: rgba(128, 128, 128, 0.194);
    margin-top: 100px;
    padding: 100px 0px;
}

.footer-cont {
    display: flex;
    justify-content: center;
    column-gap: 200px;
}

.footer-cont1 ul {
    margin: 30px 0px;
}

.footer-cont1 ul li {
    font-size: 13px;
    margin: 10px 0px;
    color: rgb(62, 62, 62);
    list-style: none;
}

.footer-cont1 h5 {
    font-size: 16px;
}

#icon {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 70px;
}

.icon-cont {
    display: flex;
    width: max-content;
    display: flex;
    column-gap: 20px;
    margin: 0px auto;
    margin-bottom: 20px;
}
@media(max-width:500px){
    .footer-cont {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    #footer {
        width: 100%;
        height:max-content;
        background-color: rgba(128, 128, 128, 0.194);
        margin-top: 100px;
        padding:50px 0px;
    }
}
